@font-face {
  src: url(../fonts/Pacifico-Regular.ttf);
  font-family: pac;
}

body {
  background-color: rgb(252, 225, 223);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
}

.box {
  text-align: left;
}

.title {
  text-align: right;
}

#rcorners {
  border-radius: 25px;
  background: rgb(255, 196, 196);
  padding: 20px;
  width: auto;
  height: auto;
  text-align: center;
  font-family: pac;
  color: #881212;
  font-size: 42px;
  font-weight: 300;
}

.recipe {
  width: 350;
  height: 400;
  text-align: center;
}

.content {
  text-align: justify;
  border-radius: 25px;
  padding: 20px;
  background: whitesmoke;
}

.container {
  width: 900px;
  margin: 0 auto;
}
