@font-face {
  src: url(./fonts/Pacifico-Regular.ttf);
  font-family: pac;
}

body {
  background-color: rgb(252, 225, 223);
}

.title {
  color: white;
  background-color: red;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.box {
  text-align: left;
}

.container,
.buttons {
  border: none;
  text-align: center;
  color: rgb(252, 225, 223);
  background-color: rgb(252, 225, 223);
}

.buttonsname {
  color: #881212;
  font-size: 30px;
  font-family: pac;
}

.blankspace {
  background-color: rgb(252, 225, 223);
  color: rgb(252, 225, 223);
}
