body {
  background-color: rgb(252, 225, 223);
}

div.title {
  color: white;
  background-color: red;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

div.box {
  text-align: left;
}
div.buttons {
  text-align: center;
}
